<form method="post" action="{{ path('app_stockages_delete', {'id': stockage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stockage.id) }}">
    <button class="btn">Delete</button>
</form>
