{% extends 'base.html.twig' %}

{% block title %}Edit Stockages{% endblock %}

{% block body %}
    <h1>Edit Stockages</h1>

    {{ include('stockages/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stockages_index') }}">back to list</a>

    {{ include('stockages/_delete_form.html.twig') }}
{% endblock %}
