{% extends 'base.html.twig' %}

{% block title %}Stockages index{% endblock %}

{% block body %}
    <h1>Stockages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EspaceStockage</th>
                <th>DateAchat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stockage in stockages %}
            <tr>
                <td>{{ stockage.id }}</td>
                <td>{{ stockage.EspaceStockage }}</td>
                <td>{{ stockage.DateAchat ? stockage.DateAchat|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_stockages_show', {'id': stockage.id}) }}">show</a>
                    <a href="{{ path('app_stockages_edit', {'id': stockage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stockages_new') }}">Create new</a>
{% endblock %}
