{% extends 'base.html.twig' %}

{% block title %}New Stockages{% endblock %}

{% block body %}
    <h1>Create new Stockages</h1>

    {{ include('stockages/_form.html.twig') }}

    <a href="{{ path('app_stockages_index') }}">back to list</a>
{% endblock %}
