{% extends 'base.html.twig' %}

{% block title %}Stockages{% endblock %}

{% block body %}
    <h1>Stockages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stockage.id }}</td>
            </tr>
            <tr>
                <th>EspaceStockage</th>
                <td>{{ stockage.EspaceStockage }}</td>
            </tr>
            <tr>
                <th>DateAchat</th>
                <td>{{ stockage.DateAchat ? stockage.DateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stockages_index') }}">back to list</a>

    <a href="{{ path('app_stockages_edit', {'id': stockage.id}) }}">edit</a>

    {{ include('stockages/_delete_form.html.twig') }}
{% endblock %}
