{% extends 'base.html.twig' %}

{% block title %}Mes Factures{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <h1>Mes Factures</h1>

    {% if factures is not empty %}
        <table>
            <tr>
                <th>ID Facture</th>
                <th>Date Facture</th>
                <th>Rue Client</th>
                <th>Ville Client</th>
                <th>Code Postal Client</th>
                <th>Prix par GB</th>
                <th>Quantité</th>
                <th>Prix Total</th>
                <th>Montant TVA</th>
            </tr>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.getId() }}</td>
                    <td>{{ facture.getDateFacture()|date('Y-m-d') }}</td>
                    <td>{{ userInfo[facture.getId()].rueClient }}</td>
                    <td>{{ userInfo[facture.getId()].villeClient }}</td>
                    <td>{{ userInfo[facture.getId()].codePostalClient }}</td>
                    <td>{{ facture.getPrix() }}</td>
                    <td>{{ facture.getQuantite() }}</td>
                    <td>{{ facture.getPrixTotal() }}</td>
                    <td>{{ facture.getMontantTVA() }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Aucune facture trouvée.</p>
    {% endif %}
{% endblock %}
