{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <h1> Dashboard </h1>

    {% if stockages is not empty %}
        {% for stockage in stockages %}
            <h2>Espace de stockage #{{ stockage.id }}</h2>
            <p>Espace disponible : {{ stockage.espaceStockage }} MB</p>
            {% if filesByStockage[stockage.id] is not empty %}
                <h3>Fichiers :</h3>
                <ul>
                    {% for file in filesByStockage[stockage.id] %}
                        <li>{{ file.NomFichier }} - {{ file.TailleFichier }} MB
                            <a href="{{ path('app_dashboard_download_file', {'id': file.id}) }}"><button>Télécharger</button></a>
                            <form method="post" action="{{ path('app_dashboard_delete_file', {'id': file.id}) }}" style="display:inline;">
                                <button type="submit">Supprimer</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun fichier trouvé pour cet espace de stockage.</p>
            {% endif %}
            <p>Espace de stockage restant :
                {% set espaceUtilise = 0 %}
                {% for file in filesByStockage[stockage.id] %}
                    {% set espaceUtilise = espaceUtilise + file.TailleFichier %}
                {% endfor %}
                {{ stockage.espaceStockage - espaceUtilise }} MB
            </p>
            <form method="post" action="{{ path('app_dashboard_add_space', {'id': stockage.id}) }}">
                <label for="additionalSpace">Ajouter de l'espace de stockage (MB) :</label>
                <input type="number" id="additionalSpace" name="additionalSpace" min="1" required>
                <button type="submit">Ajouter</button>
            </form>
            <hr>
        {% endfor %}
    {% else %}
        <p>Aucun stockage trouvé pour cet utilisateur.</p>
    {% endif %}

    <form method="post" action="{{ path('app_dashboard_upload_file') }}" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Télécharger</button>
    </form>

{% endblock %}
