{% extends 'base.html.twig' %}

{% block title %}Fichiers index{% endblock %}

{% block body %}
    <h1>Fichiers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomFichier</th>
                <th>TailleFichier</th>
                <th>DateUpload</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fichier in fichiers %}
            <tr>
                <td>{{ fichier.id }}</td>
                <td>{{ fichier.NomFichier }}</td>
                <td>{{ fichier.TailleFichier }}</td>
                <td>{{ fichier.DateUpload ? fichier.DateUpload|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_fichiers_show', {'id': fichier.id}) }}">show</a>
                    <a href="{{ path('app_fichiers_edit', {'id': fichier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fichiers_new') }}">Create new</a>
{% endblock %}
