{% extends 'base.html.twig' %}

{% block title %}Fichiers{% endblock %}

{% block body %}
    <h1>Fichiers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fichier.id }}</td>
            </tr>
            <tr>
                <th>NomFichier</th>
                <td>{{ fichier.NomFichier }}</td>
            </tr>
            <tr>
                <th>TailleFichier</th>
                <td>{{ fichier.TailleFichier }}</td>
            </tr>
            <tr>
                <th>DateUpload</th>
                <td>{{ fichier.DateUpload ? fichier.DateUpload|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fichiers_index') }}">back to list</a>

    <a href="{{ path('app_fichiers_edit', {'id': fichier.id}) }}">edit</a>

    {{ include('fichiers/_delete_form.html.twig') }}
{% endblock %}
