{% if app.user %}
    <div class="mb-3">
        <a href="{{ path('app_dashboard') }}" class="btn btn-primary">Dashboard</a>
        <a href="{{ path('app_factures_client') }}" class="btn btn-secondary">Mes Factures</a>
        <a href="{{ path('app_clients') }}" class="btn btn-secondary">Mes Informations</a>
        {{ app.user.userIdentifier }}
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}
