{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.Prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.Nom }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ utilisateur.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateInscription</th>
                <td>{{ utilisateur.dateInscription ? utilisateur.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RueClient</th>
                <td>{{ utilisateur.rueClient }}</td>
            </tr>
            <tr>
                <th>VilleClient</th>
                <td>{{ utilisateur.villeClient }}</td>
            </tr>
            <tr>
                <th>CodePostalClient</th>
                <td>{{ utilisateur.codePostalClient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateurs_index') }}">back to list</a>

    <a href="{{ path('app_utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateurs/_delete_form.html.twig') }}
{% endblock %}
