{% extends 'base.html.twig' %}

{% block title %}Mes Informations{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <h1> Mes Informations </h1>
    <ul>
        <li><strong>Email:</strong> {{ app.user.email }}</li>
        <li><strong>Prénom:</strong> {{ app.user.prenom }}</li>
        <li><strong>Nom:</strong> {{ app.user.nom }}</li>
        <li><strong>Date d'inscription:</strong> {{ app.user.dateInscription|date('Y-m-d H:i:s') }}</li>
        <br><li>
            <form action="{{ path('app_update_user_information') }}" method="post">
                <label for="rueClient">Rue Client:</label>
                <input type="text" id="rueClient" name="rueClient" value="{{ app.user.rueClient }}">
                <button type="submit">Modifier</button>
            </form>
        </li>
        <li>
            <form action="{{ path('app_update_user_information') }}" method="post">
                <label for="villeClient">Ville Client:</label>
                <input type="text" id="villeClient" name="villeClient" value="{{ app.user.villeClient }}">
                <button type="submit">Modifier</button>
            </form>
        </li>
        <li>
            <form action="{{ path('app_update_user_information') }}" method="post">
                <label for="codePostalClient">Code Postal Client:</label>
                <input type="text" id="codePostalClient" name="codePostalClient" value="{{ app.user.codePostalClient }}">
                <button type="submit">Modifier</button>
            </form>
        </li>
    </ul>

    <form action="{{ path('app_delete_user') }}" method="post">
        <button id="deleteAccountBtn">Supprimer mon compte</button>
    </form>

{% endblock %}