{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="registration-container">
        <h1 class="title">Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}
            <div class="form-group">
                {{ form_row(registrationForm.email, {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.prenom, {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.nom, {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'input-field'}
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.rueClient, {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.villeClient, {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.codePostalClient, {'attr': {'class': 'input-field'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>

            <button type="submit" class="btn btn-submit">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
