<form method="post" action="{{ path('app_factures_delete', {'id': facture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
    <button class="btn">Delete</button>
</form>
