{% extends 'base.html.twig' %}

{% block title %}Factures index{% endblock %}

{% block body %}
    <h1>Factures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateFacture</th>
                <th>DesignationFacture</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>PrixTotal</th>
                <th>MontantTVA</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.DateFacture ? facture.DateFacture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.DesignationFacture }}</td>
                <td>{{ facture.Prix }}</td>
                <td>{{ facture.Quantite }}</td>
                <td>{{ facture.PrixTotal }}</td>
                <td>{{ facture.MontantTVA }}</td>
                <td>
                    <a href="{{ path('app_factures_show', {'id': facture.id}) }}">show</a>
                    <a href="{{ path('app_factures_edit', {'id': facture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_factures_new') }}">Create new</a>
{% endblock %}
