{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <h1>Factures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>DateFacture</th>
                <td>{{ facture.DateFacture ? facture.DateFacture|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DesignationFacture</th>
                <td>{{ facture.DesignationFacture }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ facture.Prix }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ facture.Quantite }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ facture.PrixTotal }}</td>
            </tr>
            <tr>
                <th>MontantTVA</th>
                <td>{{ facture.MontantTVA }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_factures_index') }}">back to list</a>

    <a href="{{ path('app_factures_edit', {'id': facture.id}) }}">edit</a>

    {{ include('factures/_delete_form.html.twig') }}
{% endblock %}
